.Button {
  font-size: 14px;
  padding: 10px;
  min-height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Button._block {
  width: 100%;
}

.Button._primary {
  color: var(--true-white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.Button._primary:hover,
.Button._primary:focus {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.Button._danger {
  color: var(--true-white-color);
  background-color: var(--danger-color);
  border-color: var(--danger-color);
}

.Button._danger:hover,
.Button._danger:focus {
  background-color: var(--danger-secondary-color);
  border-color: var(--danger-secondary-color);
}

.Button._disabled,
.Button._disabled:hover,
.Button._disabled:focus {
  cursor: not-allowed;
  color: var(--dark-gray-color);
  background-color: var(--light-gray-color);
  border-color: var(--light-gray-color);
}
