body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: 'Open Sans', sans-serif;
}

:root {
  /* Colors */
  --main-bg-color: var(--true-white-color);
  --true-white-color: #ffffff;
  --primary-color: #2196f3;
  --secondary-color: #40a9ff;
  --danger-color: #ff4d4f;
  --danger-secondary-color: #d9363e;
  --dark-gray-color: #4a4a4a;
  --light-gray-color: #dedede;
  --green-color: #228b22;
}
